extends layout 

block content
  h2 Welcome students!
  form(action='/hello', method='post',class='submit')
    label.enterYourName Please enter your name: 
      input(type='text',name='username' class='enterYourNameInput')
    button(type='submit' class='button') Submit  