doctype html
html(lang="en")
  head
    title Landing Page
  body
    .page Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus provident fugiat quidem pariatur velit aut dolor quas excepturi adipisci neque?