extends layout 

block content
    h2 Welcome #{name}! ready to start?
    .mainBox
      form(action='/ready', method='post')
        button(type='submit' class='button') ready!
      br  
      form(action='/goodbye', method='post')
        button(type='submit' class='button') good bye!
