extends layout 

block content
    h2 Welcome #{name}! ready to start?
    form(action='/ready', method='post')
      button(type='submit') ready!
    br  
    form(action='/goodbye', method='post')
      button(type='submit') good bye!
